<!-- home.html -->
{%extends 'base.html'%}
<!DOCTYPE html>

<html>

<head>


<title>{%block title%}
    Funding{%endblock%}</title>

</head>

<body>
{%block navigation%}
<h1>Welcome to the Funding Page</h1>

<a href="{% url 'home' %}">Go to Home Page</a>


<!-- Investment Form -->

<h2>Record Investment</h2>

<form action="{% url 'funding' %}" method="POST">

{% csrf_token %}

<label for="member_name">Member Name:</label>

<input type="text" id="member_name" name="member_name" required><br>


<label for="member_cpm">Member CPM:</label>

<input type="text" id="member_cpm" name="member_cpm" required><br>


<label for="investment">Investment Amount:</label>

<input type="number" id="investment" name="investment_amount" required><br>


<button type="submit">Record Investment</button>

</form>

<h2>Investment Sumery</h2>
<table border="1">
    <th>Member_name</th><th>Member_Cpm</th><th>Investment Amount</th>
    {% for member in member_list %}
    <tr>
        <td><a href="{% url 'info' member.membername %}">{{ member.membername }}</a></td>
        <td>{{ member.membercpm }}</td>
        <td>{{ member.invetsmentamount }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="2">Total Capital</td>
        <td>{{ overall_total }}</td>
    </tr>

</table>
{%endblock%}
</body>

</html>